{% extends 'base.html' %}
{% block head_title %}Manage Reminders{% endblock %}

{% block base_content %}
    <h3 class="main-title pull-left">My Reminders</h3>
    <div class="alert alert-info col-sm-12 col-md-12" style="min-width: 400px">
        <p>The reminders will be sent at {{ Time.get_reminder_time_display }}.  <span><a href="/change_time">Change Time?</a></span></p>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Zip</th>
            <th>Reminder</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for reminder in reminders %}
            <tr>
                <td class="col-sm-2">{{ reminder.zipcode }}</td>
                <td class="col-sm-9">{{ reminder.get_warning_event_display }}</td>
                <td class="col-sm-1"><a href="/del_reminder?id={{ reminder.id }}">
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                </a></td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post">
                {% csrf_token %}
                <td class="col-sm-2">{{ form.zipcode }}</td>
                <td class="col-sm-9">{{ form.reminder }}</td>
                <td class="col-sm-1">
                    <button class="btn btn-link" style="padding-left: 0px">
                        <span class="glyphicon glyphicon-plus text-primary"></span>
                    </button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>

    <div class="panel panel-default">
        <p class="panel-heading">Want to know weather now?</p>
        <div class="panel-body">
            <a href="test_email" class="btn btn-success">Send Email</a>
        </div>
    </div>
{% endblock %}